langchain
langgraph
google-genai
python-dotenv
aiohttp
psycopg[binary,pool]
langgraph-checkpoint-postgres
pandas
seaborn
streamlit
json-repair
scikit-learn
catboost
lightgbm
langchain_community
sentence-transformers==2.6.1
transformers==4.45.2
tokenizers>=0.20
huggingface-hub==0.24.6
torch>=2.2.0
faiss-cpu
langchain_huggingface==1.0.0